<template>
  <div class="container">
    <div class="ui-page-header">เพิ่มผู้ใช้งาน</div>
    <div class="ui-page-body">


      <div class="form-group">
        <label>ชื่อผู้ใช้งาน <span class="ui-required">*</span></label>
        <input type="text" class="form-control" v-model="form.username" />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <label>รหัสผ่าน <span class="ui-required">*</span></label>
        <input type="text" class="form-control" v-model="form.password" />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <label>ชื่อ<span class="ui-required">*</span></label>
        <input type="text" class="form-control" v-model="form.name" />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <label>นามสกุล <span class="ui-required">*</span></label>
        <input type="text" class="form-control" v-model="form.lastname" />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <label>อีเมล</label>
        <input
          type="email"
          class="form-control"
          name="email"
          v-model="form.email"
          max="50"
          maxlength="50"
        />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <label>ตำแหน่ง <span class="ui-required">*</span></label>
        <select class="form-control" style="width: 20%" v-model="form.position">
          <option value="" disabled selected>-- เลือกตำแหน่ง --</option>
          <option>ฝ่ายบัญชี</option>
          <option>ฝ่ายขาย</option>
        </select>
      </div>

      <validator id="validation">
        <label
          ><input
            type="radio"
            name="radios"
            value="1"
            v-model="radios"
            v-validate:radios="{ required: true }"
          />
          สามารถจัดการใบเสนอราคาเฉพาะของตนเอง</label
        >
        <br />
        <label
          ><input
            type="radio"
            name="radios"
            value="2"
            v-model="radios"
            v-validate:radios="{ required: true }"
          />
          สามารถจัดการใบเสนอราคาเทั้งหมด</label
        >
      </validator>

      <br />
      <br />

      <a @click="save()" id="save" role="button" class="btn btn-secondary"
        >ยืนยัน</a
      >
      <router-link
        :to="`/settings/users`"
        id="cancle"
        type="button"
        class="btn btn-secondary"
        style="float: right"
        >ยกเลิก</router-link
      >
    </div>
    <div class="ui-page-footer"></div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      form: {
        name: "",
        lastname: "",
        username: "",
        email: "",
        position: "",
        password: "",
        phoneNumber: "",
      },
      radios: null,
    };
  },

  methods: {
    save() {
      this.loading = true;
      this.error = false;
      this.success = false;
      let user_token = JSON.parse(localStorage.getItem("user_token"));
      console.log(this.form);
      axios.post(
      `http://127.0.0.1:8000/api/insert_user`,
      this.form,
      {
        headers: {
          Authorization: "bearer " + user_token, 
        },
      }
      ).then((response) => {
        console.log(response);
        if (response.status === 200) {
          this.$router.push("/settings/users")
        }
      });
      // axios
      //   .post("http://127.0.0.1:8000/api/insert_user", this.form, {
      //     headers: {
      //       Authorization: "Bearer " + user_token,
      //     },
      //   })
      //   .then((response) => {
      //     if (response.status === 200) {
      //       this.$router.push("/settings/users");
      //     }
      //   });
    },
  },
};
</script>

<style>
#cancle {
  margin-right: 5px;
}
#save {
  float: right;
  color: white;
}
</style>