<template>
  <div class="container">
      <div class="ui-page-header">รายละเอียดผู้ใช้งาน</div>
      <div class="ui-page-body">
        
      <div class="form-group">
        <label>ชื่อผู้ใช้งาน</label>
        <input type="text" class="form-control" v-model="detail.username" disabled/>
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-group">
      <div class="form-group">
        <label>ชื่อ<span class="ui-required">*</span></label>
        <input type="text" class="form-control" v-model="form.name" />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <label>นามสกุล <span class="ui-required">*</span></label>
        <input type="text" class="form-control" v-model="detail.lastname" />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <label>อีเมล</label>
        <input
          type="email"
          class="form-control"
          name="email"
          v-model="detail.email"
          max="50"
          maxlength="50"
        disabled/>
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <label>ตำแหน่ง</label>
        <input type="text" class="form-control" v-model="detail.position" disabled/>
        <div class="invalid-feedback"></div>
      </div>


      <validator name="validation">
        <label
          ><input
            type="radio"
            name="radios"
            value="1"
            v-model="radios"
            v-validate:radios="{ required: true }"
          disabled/>
          สามารถจัดการใบเสนอราคาเฉพาะของตนเอง</label
        >
        <br />
        <label
          ><input
            type="radio"
            name="radios"
            value="2"
            v-model="radios"
            v-validate:radios="{ required: true }"
          disabled/>
          สามารถจัดการใบเสนอราคาทั้งหมด</label
        >
      </validator>
        <router-link router-link :to="`/settings/users`" class="btn btn-secondary" id="back">กลับ</router-link>
      </div>
      <div class="ui-page-footer"></div>
  </div>
  </div>
</template>

<script>

import axios from "axios";
export default {
  data(){
    return{
      detail:{
        name: "",
        lastname: "",
        username: "",
        email: "",
        position: "",
        password: "",
        phoneNumber: "",
        data:[],
      },
      radios: null
      
    }
  },
  async mounted() {
    let user_token = JSON.parse(localStorage.getItem("user_token"))
      await axios
      .get("http://127.0.0.1:8000/api/get_quotation_from_user" + this.$route.query.id,
      {
        headers:{
          "Authorization" : "Bearer " + user_token
        }
      }
      )
      .then((response) => {
        if (response.status === 200) {
          this.detail = response.data;
        }
      })
      .catch((error) => {
        console.log(error);
      });
  },
  
}

</script>

<style scoped>
#back{
    float:right;
    margin-top: 20px;
}
</style>