<template>
  <div class="container">
    <div class="ui-page-header">แก้ไขผู้ใช้งาน</div>
    <div class="ui-page-body">
      <div class="form-group">
        <label>ชื่อผู้ใช้งาน <span class="ui-required">*</span></label>
        <input type="text" class="form-control" v-model="edit.username" />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <label>ชื่อ<span class="ui-required">*</span></label>
        <input type="text" class="form-control" v-model="form.name" />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <label>นามสกุล <span class="ui-required">*</span></label>
        <input type="text" class="form-control" v-model="edit.lastname" />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <label>อีเมล</label>
        <input
          type="email"
          class="form-control"
          name="email"
          v-model="edit.email"
          max="50"
          maxlength="50"
        />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <label>ตำแหน่ง <span class="ui-required">*</span></label>
        <select class="form-control" style="width: 20%" v-model="edit.position">
          <option value="" disabled selected>-- เลือกตำแหน่ง --</option>
          <option>ฝ่ายบัญชี</option>
          <option>ฝ่ายขาย</option>
        </select>
      </div>

      <validator name="validation">
        <label
          ><input
            type="radio"
            name="radios"
            value="1"
            v-model="radios"
            v-validate:radios="{ required: true }"
          />
          สามารถจัดการใบเสนอราคาเฉพาะของตนเอง</label
        >
        <br />
        <label
          ><input
            type="radio"
            name="radios"
            value="2"
            v-model="radios"
            v-validate:radios="{ required: true }"
          />
          สามารถจัดการใบเสนอราคาทั้งหมด</label
        >
      </validator>

      <a class="btn btn-secondary" id="save" @click="save()">ยืนยัน</a>
      <router-link
        :to="`/settings/users`"
        type="button"
        id="cancle"
        class="btn btn-secondary"
        >ยกเลิก</router-link
      >
    </div>
    <div class="ui-page-footer"></div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      edit: {
        name: "",
        lastname: "",
        username: "",
        email: "",
        position: "",
        phoneNumber: "",
      },
      radios: null,
      data: [],
      id: {},
    };
  },
  methods: {
    save() {
      axios
        .post("http://127.0.0.1:8000/api/insert_user", this.edit)
        .then((response) => {
          if (response.status === 200) {
            this.$router.push("/settings/users");
          }
        });
    },
  },
  async mounted() {
    await axios
      .put("http://127.0.0.1:8000/api/insert_user", this.edit)
      .then((response) => {
        if (response.status === 200) {
          this.edit.data = response.data;
        }
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>

<style scoped>
#save,
#cancle {
  float: right;
  color: white;
  margin-left: 5px;
  margin-top: 20px;
}
</style>