<template>
  <div class="container">
    <div class="ui-page-header">ผู้ใช้งาน</div>
    <div class="ui-page-body">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
          <router-link
            :to="`/settings/user/adds`"
            type="button"
            class="btn btn-secondary"
            ><i class="fa fa-plus-circle"></i> เพิ่ม</router-link
          >
        </div>
      </div>
      <br />
      <table class="table table-bordered table-hover">
        <thead style="background-color: Gainsboro">
          <tr style="vertical-align: middle">
            <th style="text-align: center" scope="col">ลำดับ</th>
            <th scope="col" style="text-align: center">ชื่อ-นามสกุล</th>
            <th scope="col" style="text-align: center">ตำแหน่ง</th>
            <th scope="col" style="text-align: center">อีเมล</th>
            <th scope="col" style="text-align: center">สถานะการใช้งาน</th>
            <th style="width: 40px" scope="col"></th>
          </tr>
        </thead>
        <tbody id="table">
          <tr v-for="(item, index) in form.data" :key="index">
            <td style="width: 30px; text-align: center">{{ index + 1 }}</td>
            <td style="width: 60px; text-align: center">{{ item.name }}</td>
            <td style="width: 60px; text-align: center">{{ item.position }}</td>
            <td style="width: 60px; text-align: center">{{ item.email }}</td>
            <td style="width: 60px; text-align: center">
              <button
                class="btn btn-outline-primary"
                :class="{active:isActive}"
                @click="isActive = !isActive"
              >
                {{ isActive ? "เปิดใช้งาน" : "ปิดใช้งาน" }}
              </button>
            </td>
            <td style="text-align: center;">
              <router-link
                :to="`/settings/user/detail?id=${item.id}`"
                type="button"
                data-toggle="tooltip"
                title="ดูรายละเอียด"
                data-placement="top"
                style="border: 1px solid; width: 50px; height: 32px"
                class="btn btn-light fa fa-search"
              ></router-link>
              <router-link
                :to="`/settings/user/{id}/edits`"
                style="margin-left: 1rem; border: 1px solid"
                class="btn btn-light"
                ><i class="fa fa-edit"></i> แก้ไข</router-link
              >
              <button
                type="button"
                class="btn btn-danger waves-effect waves-light"
                style="margin-left: 1rem"
                @click="Deleterow()"
              >
                <i class="fa fa-trash"></i> ลบ
              </button>
              <!-- Central Modal Fluid -->
              <div
                class="modal fade"
                id="centralModalFluid"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-fluid" role="document">
                  <!--Content-->
                  <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                      <h4 class="modal-title w-100" id="myModalLabel">
                        ลบข้อมูล
                      </h4>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">คุณต้องการลบข้อมูลใช่หรือไม่ ?</div>
                    <!--Footer-->
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        ยกเลิก
                      </button>
                      <button
                        type="button"
                        @click="Deleterow()"
                        id="success"
                        class="btn btn-success"
                      >
                        ยืนยัน
                      </button>
                    </div>
                  </div>
                  <!--/.Content-->
                </div>
              </div>
              <!-- Central Modal Fluid -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="ui-page-footer"></div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      form: {
        name: "",
        position: "",
        email: "",
        status: "",
        data: [],
      },
      isActive: false,
    };
  },
  async mounted() {
    let user_token = JSON.parse(localStorage.getItem("user_token"));
    await axios
      .get("http://127.0.0.1:8000/api/get_quotation_from_user", {
        headers: {
          Authorization: "bearer " + user_token,
        },
      })
      .then((response) => {
        if (response.status === 200) {
          this.form.data = response.data;
        }
      })
      .catch((error) => {
        console.log(error);
      });
  },
  methods: {
    Deleterow() {
      var r = confirm("คุณต้องการลบข้อมูลหรือไม่");
      if (r == true) {
        document.getElementById("table").deleteRow(0);
      }
    },
    toggle() {
      this.isActive = this.isActive ? false : true;
      this.isActive = !this.enable;
    },

  },
};
</script>

<style scoped>
</style>