<template>
    <div class="container">
        <div class="ui-page-header">เพิ่มใบเสนอราคา>
            <div>

            </div>
        </div>
         <div class="form-group">
        <label for="inputState">ชำระเงิน <span class="ui-required">*</span></label>
        <select 
          id="inputState" 
          class="form-control" 
          name="state" 
          style="width: 30%;"
          v-model="quotation.payId">
          <option value="" disabled selected>-- เลือกช่องทางการชำระเงิน --</option>
          <option>เช็ค</option>
          <option>เงินสด</option>
          <option>โอนเงินผ่านธนาคาร</option>
        </select>
         <form>
        <div class="form-group">
          <label>เอกสารอื่นๆ</label>
          <label for="uploadphoto"></label>
          <input type="file" class="form-control-file" id="uploadphoto" />
        </div>
      </form>
      </div>
        <router-link :to="`receipts`" id="cancle" type="button" class="btn btn-secondary" style="float:right;">ยืนยัน</router-link>
    </div>
</template>

<script>
import axios from "axios";
export default {
    
  data() {
    return {
      quotation: {
       
        payId: "",
       
      }
    }
  },
  methods:{
     input(){
      this.loading = true;
      this.error = false;
     let quotation_token = JSON.parse(localStorage.getItem("user_token"))
// axios.get(url,headers)
// axios.post(url,data,headers)

      axios
        .post(`https://qt.emeraldtech.co/api/quotations`,
        this.quotation,{
        headers:{
          "Authorization" : "bearer " + quotation_token
        }
      })
        .then((response) => {
          console.log(response);
          if (response.status === 201) {

            this.$router.push("/quotations")
          }
          })
    } 
  }
}
</script>

<style scoped>

</style>