<template>
  <div class="container">
    <div class="ui-page-header"><h3><b>รายละเอียดใบเสนอราคา</b></h3></div>

    <div class="ui-page-body">
      <!-- <div class="row float-right" style="margin-top:-1rem;margin-right:0.3rem;">
        <button
          id="save"
          type="button"
          class="btn btn-secondary fa fa-print"
          style="float:right;" > พิมพ์ใบเสนอราคา </button></div> -->

      <form>
        <!--number of quotation-->
        <div class="form-row">
          <div class="form-group col-md-4">

            <h5 class="card-text"><b>เลขที่ใบเสนอราคา:</b>  {{ quotation.data[0].quotationNumber }}</h5>
            
            <h5 style="margin-top: 25px;" class="card-text"><b>รหัสลูกค้า:</b>  {{ quotation.data[0].quotationNumber }}</h5>
 
            <!--customer no-->
            <div class="form-row" style="margin-top: 15px;">
              <div class="form-group col-md-12">
                <!-- <label for="inputNumber"><b>รายละเอียดลูกค้า</b></label> -->
                <div class="card " style="width: 25rem;">
                  <div class="card-body">
                    <p class="card-text"><b><h5>รายละเอียดลูกค้า</h5></b></p>
                    <p class="card-text"><b>ชื่อลูกค้า:</b>  {{ quotation.data[0].customerName }}</p>
                    <p class="card-text"><b>ที่อยู่: </b>{{quotation.data[0].customerBuilding}} {{ quotation.data[0].district }} {{ quotation.data[0].amphoe }} {{ quotation.data[0].province }} {{ quotation.data[0].zipcode }}</p>
                    <p class="card-text"><b>เบอร์โทรติดต่อ:</b> {{ quotation.data[0].customerTele}}</p>
                    <p class="card-text"><b>อีเมล:</b> {{ quotation.data[0].customerEmail}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group col-md-3"></div>
          <div class="form-group col-md-4 ">
            <label for="inputNumber"><b>รายละเอียดใบเสนอราคา</b></label>
            <div class="card " style="width: 25rem;">
              <div class="card-body">
                <p class="card-text" >
                  <b>วันที่ออกใบเสนอราคา: </b>{{ quotation.data[0].issueDate }}
                </p>
                <p class="card-text" ><b>Expire Date: </b>{{ quotation.data[0].expireDate }}</p>
                <p class="card-text" ><b>วันกำหนดส่งของ:</b> {{ quotation.data[0].deliveryDate }}</p>
                <p class="card-text" ><b>เครดิต (วัน):</b> {{ quotation.data[0].credit }}</p>
                <p class="card-text" ><b>ยืนราคาภายใน (วัน):</b> {{ quotation.data[0].validity }}</p>
                <p class="card-text" ><b>พนักงานขาย:</b> {{ quotation.data[0].salemanName }} </p>
                <p class="card-text" ><b>ติดต่อ: </b>{{ quotation.data[0].phoneNumber }}</p>
                <h4 class="card-text" v-if="
                quotation.data[0].discount == 'NONE' && 
                quotation.data[0].vatType == 'NO_VAT' "><b>ยอดรวมทั้งสิ้น:</b>   {{ quotation.data[0].total }}</h4>
                <h4 class="card-text" v-else><b>ยอดรวมทั้งสิ้น:</b>   {{ quotation.data[0].netTotal }}</h4>
              </div>
            </div>
          </div>
        </div>

        <table class="table table-hover">
          <thead class="thead-dark">
            <tr class="text-center">
              <th scope="col">ลำดับ</th>
              <th scope="col">รายการสินค้า</th>
              <th scope="col">จำนวน</th>
              <th scope="col">ราคาต่อหน่วย</th>
              <th scope="col" v-if="quotation.discount == 'BY_ITEM'">ส่วนลด</th>
              <th scope="col">จำนวนเงินรวม</th>
            </tr>
          </thead>
          <tbody id="table">
            <tr
              v-for="(item, index) in item"
              :key="index"
              style="text-align: center; vertical-align: middle;"
            >
              <th style="width:20px;text-align:center;">{{ index + 1 }}</th>
              <td>{{ item.name }}</td>
              <td>{{ item.amount}}</td>
              <td>{{ item.price }}</td>
              <td scope="col" v-if="item.discount == 'BY_ITEM'">ส่วนลด 
                {{ item.discount }}
              </td>
              <td>{{item.sum }}</td>
            </tr>
          </tbody>
        </table>
      </form>

      <!--buttoin-->

      <router-link
        :to="`/quotations`"
        id="cancle"
        type="button"
        class="btn btn-secondary"
        style="float:right;"
        >กลับ</router-link
      >
    </div>

    <div class="ui-page-footer"></div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      item : {},
      quotation: {
        data: [],
        itemsList: [
          {
             id : '',
              idItem : "",
              name : "",
              amount : "",
              price : "",
              discount : "",
              sum : ""
          }
        ],
      },
      temp: [
          {
              id : 1,
              idItem : 1,
              name : 'เสื้อ',
              amount : "5",
              price : "150",
              discount : "750",
              sum : "750"
          },
          {
              id : 1,
              idItem : 1,
              name : 'กางเกง',
              amount : "7",
              price : "350",
              discount : "2450",
              sum : "2450"
          },
        ]
      
    };
  },
  //   item() {
  //   return {
  //       itemsList: [
  //         {
  //             id : '',
  //             name : "",
  //             amount : "",
  //             price : "",
  //             discount : "",
  //             sum : "",
  //             item_quotation_id : ""
  //         }
  //       ],
  //     }
  // },
  //  computed: {
  //   dataOnTable() {
  //     var keyword = this.search,
  //       arr = this.quotation.data;

  //     if (keyword != "") {
  //       arr = arr.filter(function(el) {
  //         return (
  //           el.quotationNumber.indexOf(keyword) >= 0 ||
  //           el.customerName.indexOf(keyword) >= 0
  //         );
  //       });
  //     }
  //     return arr;
  //   },
  // },

  async mounted() {
    let user_token = JSON.parse(localStorage.getItem("user_token"));
     
    await axios
      .get(`http://127.0.0.1:8000/api/quotation`, {
        headers: {
          Authorization: "bearer " + user_token,
        },
      })
      .then((response) => {
        console.log(response);
        if (response.status === 200) {
          this.quotation.data = response.data;
        }
      })
      .catch((error) => {
        console.log(error);
      });

    const response = await axios.get(
      `http://127.0.0.1:8000/api/item/`+1,
      {
        headers: {
          Authorization: "bearer " + user_token,
        },
      }
    );
      const userdata = await axios.get(
      `http://127.0.0.1:8000/api/user_data/` + 1,
      {
        headers: {
          Authorization: "bearer " + user_token,
        },
      }
    ).then((response) => {
        console.log(response);
        if (response.status === 200) {
          this.item = response.data;
        }
      })
          const customer = await axios.get(
      `http://127.0.0.1:8000/api/customer/` + 1,
      {
        headers: {
          Authorization: "bearer " + user_token,
        },
      }
    );
    var data =  response.data;
    console.log(customer);
    console.log(data);
    console.log(userdata);
  },
};

</script>

<style scoped>
#cancle {
  margin-right: 5px;
}
#form-sum {
  float: right;
  margin-top: 50px;
  width: 60%;
  margin-top: 58px;
}
</style>
