<template>
  <div>
    <div class="ui-toolbar">
      <div class="ui-app-brand">
        <img src="/image/goldfish.png" class="ui-app-logo" />
        PlaThong.app
      </div>
      <div class="ui-user-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></div>
      <div class="dropdown-menu dropdown-menu-right">
        <router-link :to="`/profiles`" class="dropdown-item">บัญชีผู้ใช้</router-link>
        <router-link :to="`/auth/login`" class="dropdown-item">ลงชื่อออก</router-link>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="ui-sidebar">
      <ul>
        <div style="margin-top:1rem;">
          <router-link to="/dashboard" style="color:white;">หน้าแรก</router-link>
        </div>
        <div style="margin-top:1rem;">
          <router-link to="/quotations" style="color:white;">ใบเสนอราคา</router-link>
        </div>
       <div style="margin-top:1rem;">
          <router-link :to="`/settings/users`" style="color:white;">จัดการผู้ใช้งาน</router-link>
        </div>
      </ul>
    </div>
    <div class="ui-container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
html,
body {
  margin: 0;
  padding: 0;
}
</style>

<style scoped>
.ui-user-icon {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 1rem;
  top: 17px;
  border-radius: 50%;
  z-index: 1;
  background-image: url(../assets/image.png);
  background-size: 38px;
  border: solid 1px #fff;
  cursor: pointer;
  background-color: #fff;
}
.ui-toolbar {
  background-color: #343a40;
  height: 83px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.ui-app-brand {
  line-height: 65px;
  height: 65px;
  font-size: 1.25rem;
  position: absolute;
  left: 10px;
  top: 10px;
}

.ui-app-logo {
  height: 65px;
  border: solid 1px #ffc107;
  float: left;
  margin-right: 1rem;
  padding: 5px;
  border-radius: 5px;
}

.ui-sidebar {
  width: 220px;
  position: fixed;
  left: 0;
  top: 83px;
  bottom: 0;
  background-image: linear-gradient(#343a40, #6ab0e2);
  color: #ffffff;
}
.ui-container {
  position: absolute;
  left: 220px;
  top: 83px;
  bottom: 0;
  right: 0;
}

</style>